<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>东京头条</string>
		<key>icon</key>
		<string>camera</string>
	</dict>
	<dict>
		<key>name</key>
		<string>chrome</string>
		<key>icon</key>
		<string>chrome</string>
	</dict>
	<dict>
		<key>name</key>
		<string>drive</string>
		<key>icon</key>
		<string>drive</string>
	</dict>
	<dict>
		<key>name</key>
		<string>email</string>
		<key>icon</key>
		<string>email</string>
	</dict>
	<dict>
		<key>name</key>
		<string>gmail</string>
		<key>icon</key>
		<string>gmail</string>
	</dict>
	<dict>
		<key>name</key>
		<string>google-launcher</string>
		<key>icon</key>
		<string>google-launcher</string>
	</dict>
	<dict>
		<key>name</key>
		<string>google-search</string>
		<key>icon</key>
		<string>google-search</string>
	</dict>
	<dict>
		<key>name</key>
		<string>google-settings</string>
		<key>icon</key>
		<string>google-settings</string>
	</dict>
	<dict>
		<key>name</key>
		<string>google</string>
		<key>icon</key>
		<string>google</string>
	</dict>
	<dict>
		<key>name</key>
		<string>hangouts</string>
		<key>icon</key>
		<string>hangouts</string>
	</dict>
	<dict>
		<key>name</key>
		<string>play-games</string>
		<key>icon</key>
		<string>play-games</string>
	</dict>
	<dict>
		<key>name</key>
		<string>whatsapp</string>
		<key>icon</key>
		<string>whatsapp</string>
	</dict>
</array>
</plist>
